*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

node_modules/
*.log
.env
*.zip
*.bak
dist/
build/

# Ignorar archivos de Gradle y cachés
.gradle/
build/
app/build/
**/caches/
*.iml
.idea/
*.log
*.apk
*.dex
*.class

# Ignorar carpetas y archivos comunes de Android
.idea/
.gradle/
build/
app/build/
**/caches/
*.iml
*.log
*.apk
*.dex
*.class
*.jar
*.keystore
.DS_Store
# Ignorar archivos del daemon y perfiles de Kotlin
/app/daemon/
/app/kotlin-profile/




